/*==============================================*/
/*             basic css                        */
/*==============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
h1,h2,h3,h4,h5,h6{margin: 0;}
ul {
    list-style: none;
    margin-bottom: 0;
} 
body{
  font-size: 0.8em;
}
header#header-area .top-header {
  background-color: #3b3e46;
  padding: 15px 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.top-right-wrap p {
  margin-right: 50px;
}

.top-right-wrap p i {
  margin-right: 9px;
}

.top-right-wrap ul li {
  margin-right: 12px;
}

.top-right-wrap ul li:last-child {
  margin-right: 0;
}
 p {
    margin-bottom: 0 !important;
}

/*========================================*/
/*             bottom header              */
/*========================================*/
.middle-bottom ul li a {
  color: #000;
}
.bottom-header{
  padding-top: 30px;
  padding-bottom: 20px;
}
.logo-area a {
    display: block;
}
.middle-top ul li {
    display: inline-block;
    margin-right: 100px;
}

.icon-content h5 {
    font-size: 16px;
    font-weight: bold;
    color: #5b5d60;
    margin-bottom: 4px;
}

.icon i {
    color: #058600;
    font-size: 24px;
    margin-right: 12px;
    margin-top: 6px;
}
.middle-bottom ul li {
    display: inline-block;
    margin-right:25px;
}

.middle-bottom ul li a {
    line-height: 62px;
    color: #363842;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.4px;
    border-top: 2px solid transparent;
    transition: .23s all ease-in-out;
}
.middle-top {
    border-bottom: 3px solid #eee;
    padding-bottom: 20px;
}
/*========================================*/
/*            banner                      */
/*========================================*/
section#banner {
    background-image: url(../scuba/banner.jpg);
    padding-top: 22%;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}