/*==============================================*/
/*             basic css                        */
/*==============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
h1,h2,h3,h4,h5,h6{margin: 0;}
ul {
    list-style: none;
    margin-bottom: 0;
} 
body{
  font-size: 0.8em;
}
header#header-area .top-header {
  background-color: #3b3e46;
  padding: 15px 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.top-right-wrap p {
  margin-right: 50px;
}

.top-right-wrap p i {
  margin-right: 9px;
}

.top-right-wrap ul li {
  margin-right: 12px;
}

.top-right-wrap ul li:last-child {
  margin-right: 0;
}
 p {
    margin-bottom: 0 !important;
}

/*========================================*/
/*             bottom header              */
/*========================================*/
.middle-bottom ul li a {
  color: #000;
}